/* keep replies, emoji  and edit always visible (also stolen from andrew hehe)*/
[class^="hoverBarButton_"]:has([d="M2.3 7.3a1 1 0 0 0 0 1.4l5 5a1 1 0 0 0 1.4-1.4L5.42 9H11a7 7 0 0 1 7 7v4a1 1 0 1 0 2 0v-4a9 9 0 0 0-9-9H5.41l3.3-3.3a1 1 0 0 0-1.42-1.4l-5 5Z"]),
[class^="hoverBarButton_"]:has([d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z"]),
[class^="hoverBarButton_"]:has([d="m13.96 5.46 4.58 4.58a1 1 0 0 0 1.42 0l1.38-1.38a2 2 0 0 0 0-2.82l-3.18-3.18a2 2 0 0 0-2.82 0l-1.38 1.38a1 1 0 0 0 0 1.42ZM2.11 20.16l.73-4.22a3 3 0 0 1 .83-1.61l7.87-7.87a1 1 0 0 1 1.42 0l4.58 4.58a1 1 0 0 1 0 1.42l-7.87 7.87a3 3 0 0 1-1.6.83l-4.23.73a1.5 1.5 0 0 1-1.73-1.73Z"]){
    order:1;
    display: flex !important;
}

/* style it source: https://github.com/Andrew6rant/Discord-plugins-and-themes/blob/main/BetterMessageButtons.theme.css */ 
:root {
  --msg-solo-button-width: 36px;
  --msg-grid-button-padding: 32px;
  --msg-grid-columns: 2;
  --msg-button-height: 64px;
  --msg-button-border-radius: 8px;
  --msg-section-spacing: 12px;
  --msg-offset-Y: 0px;
}

div[class^="buttonsInner_"] {
  grid: repeat(var(--msg-grid-columns), var(--msg-grid-button-padding)) / auto-flow var(--msg-grid-button-padding);
  grid-auto-flow: column;
  transform: translateX(calc(((var(--msg-section-spacing) / 2) + var(--msg-solo-button-width)) * -1)) translateY(calc(var(--msg-offset-Y) * -1));
  border-radius: var(--msg-button-border-radius);
  background-color: transparent;
}

/* don't make disconnected buttons have hover styling  */
div[class^="buttonsInner_"]:has(div[aria-label="Reply"]:hover),
div[class^="buttonsInner_"]:has(div[aria-label="Edit"]:hover) {
  border: 1px solid var(--border-subtle);
  box-shadow: var(--elevation-stroke);
}

div[aria-label="Reply"], div[aria-label="Edit"] {
  order: 1;
  grid-row: span 2;
  height: var(--msg-button-height);
  width: var(--msg-solo-button-width);
  border: 1px solid var(--border-faint);
  border-radius: var(--msg-button-border-radius);
  position: absolute;
  /* box-shadow: var(--shadow-low); */
  /* background: var(--background-nested-floating); */
  right: calc((var(--msg-section-spacing) + var(--msg-solo-button-width)) * -1);
  background-color: transparent;
}

/* for use with ShowAllMessageButtons plugin */
div[class^="buttonsInner_"]:has(div[aria-label="Edit"]):has(div[aria-label="Reply"]) {
  transform: translateX(calc(((var(--msg-section-spacing) * 2) + (var(--msg-solo-button-width) * 2)) * -1));
}

/* for use with ShowAllMessageButtons plugin */
div[class^="buttonsInner_"]:has(div[aria-label="Edit"]) div[aria-label="Reply"] {
  right: calc(((var(--msg-section-spacing) * 2) + (var(--msg-solo-button-width) * 2)) * -1);
}

/* div[aria-label="Reply"]:hover, div[aria-label="Edit"]:hover {
  background: var(--background-nested-floating);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
  border: 1px solid var(--border-subtle);
  opacity: 1;
} */

div[class*="popoverReactionHoverBar_"] > div[class^="separator_"] {
  display: none;
}


/* collapsable message action*/
[class^=buttonsInner_]:not(:hover)>:is(
  [role=button]:not(:last-child), [class^=separator_]
){display: none;}

